.landing-page {
    background: #106ee8;
    background-image: url(../images/products.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 320px;
    height: 70vh;
    max-height: 480px;
    position: relative;
}

.tagline {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.tagline h1 {
    text-align: center;
    font-weight: 900;
    font-size: 8rem;
    color: #fff;
}

#gallery {
    padding-top: 12px;
}

.show {
    opacity: 1;
    visibility: visible;
    display: inherit;
    transition: all 0.3s ease-in;
}

.hide {
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: all 0.3s ease-in;
}

.taglinks {
    text-align: center;
    margin: 2rem auto;
}

.taglinks a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.6rem;
    text-transform: uppercase;
    color: #106ee8;
    padding: 0 1.5rem;
    border: 3px solid #106ee8;
    margin: 2rem;
    transition: all 0.3s ease-in;
}

.taglinks a:hover, .taglinks a:active {
    background: #106ee8;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.gallery-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    /*    -webkit-filter: grayscale(100%);*/
    /*    filter: grayscale(100%);*/
    transition: all 0.2s ease-in;
}

.gallery-container a {
    /*    margin: 0;*/
    display: block;
    float: left;
    width: calc(25% - 16px);
    height: 274px;
    margin: 8px;
    overflow: hidden;
    /*    padding: 4px;*/
    position: relative;
    box-sizing: padding-box;
    transition: all 0.2s ease-in;
}

.gallery-container a:hover {
    /*    background: #106ee8;*/
    /*    padding: 8px;*/
    transition: all 0.2s ease-in;
}

.gallery-container a:hover > img {
    /*    -webkit-filter: grayscale(0%);*/
    /*    filter: grayscale(0%);*/
    transform: scale(1.05);
    /*    transform: scale(0.97);*/
    transition: all 0.2s ease-in;
}

.gallery-container a:focus > img {
    transform: scale(1.03);
    transition: all 0s;
}

.navigation-btns {
    padding-top: 70px;
}

.navigation-btns div:nth-child(2){
    margin: 1rem 0;
}

.navigation-btn {
    display: block;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 900;
    color: #106ee8;
    padding: 1rem;
    margin: 0 8px;
    border: 7px solid #106ee8;
    white-space: pre;
    transition: all 0.3s ease-in;
    box-sizing: border-box;
}

.navigation-btn:hover {
    text-decoration: none;
    background-color: #106ee8;
    color: #fff;
    transition: all 0.3s ease-in;
}

@media (max-width: 767px) {
    .landing-page {
        max-height: 340px;
    }
    .tagline h1 {
        text-align: center;
        font-weight: 900;
        font-size: 4rem;
        color: #fff;
        padding: 0 15px;
    }
    #gallery {
        padding-top: 10px;
    }
    .taglinks {
        text-align: left;
        margin: 1rem auto;
    }
    .taglinks a {
        display: inline-block;
        margin: 0.6rem;
        font-size: 1.4rem;
        padding: 0 1rem;
        border: 2px solid #106ee8;
    }
    .gallery-container a {
        width: calc(50% - 8px);
        height: 45vw;
        margin: 4px;
    }
    .gallery-container a:hover > img {
        transform: scale(1);
        transition: all 0s;
    }
    .gallery-container a:focus > img {
        transform: scale(.99);
        transition: all 0s;
    }
    .navigation-btn {
        font-size: 2.5rem;
        padding: 1rem;
        margin: 0 6px;
        border: 7px solid #106ee8;
        transition: all 0s;
    }

    .navigation-btn:hover, .navigation-btn:focus {
        text-decoration: none;
        background-color: #106ee8;
        color: #fff;
        transition: all 0s;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .tagline h1 {
        text-align: center;
        font-weight: 900;
        font-size: 4rem;
        color: #fff;
        padding: 0 15px;
    }
    #gallery {
        padding-top: 12px;
    }
    .taglinks {
        margin: 1rem auto;
    }
    .taglinks a {
        display: inline-block;
        margin: 0.6rem;
        font-size: 1.6rem;
        padding: 0 1.2rem;
        border: 3px solid #106ee8;
    }
    .gallery-container a {
        width: calc(33.3% - 16px);
        height: 228px;
        margin: 8px;
    }
    .gallery-container a:focus > img {
        transform: scale(.99);
        transition: all 0s;
    }
    .gallery-container a:hover > img {
        transform: scale(1);
        transition: all 0s;
    }
    .navigation-btn {
        font-size: 2.5rem;
        padding: 1rem;
        margin: 0 8px;
        border: 7px solid #106ee8;
        transition: all 0s;
    }

    .navigation-btn:hover, .navigation-btn:focus {
        text-decoration: none;
        background-color: #106ee8;
        color: #fff;
        transition: all 0s;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .gallery-container a {
        width: calc(25% - 16px);
        height: 220px;
        margin: 8px;
    }
    .gallery-container a:focus > img {
        transform: scale(.99);
        transition: all 0s;
    }
}